html {
    background: #2d323c;
    margin: 0;
    padding: 0;
}

main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    background: #fff;
    border-radius: 18px;
    box-shadow: 0 3px 24px rgba(158, 184, 192, 0.455);
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin-bottom: 3rem;
}

.titulo h1 {
    font-family: "Montserrat", sans-serif;
    color: #1a2e43;
    font-size: 2.8rem;
    font-weight: 700;
    margin-bottom: 0.1rem;
    letter-spacing: 1px;
}
.titulo p {
    font-family: "Quicksand", sans-serif;
    color: #3b4451;
    font-size: 1.15rem;
    margin-top: 0.1rem;
}

.proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.proyectos li {
    margin-bottom: 1rem;
}

.proyectos a {
    display: block;
    background: #f0f3fa;
    color: #293c50;
    font-family: "Quicksand", sans-serif;
    font-size: 1.22rem;
    padding: 0.9rem 1.2rem;
    border-radius: 9px;
    text-decoration: none;
    box-shadow: 0 2px 16px rgba(29, 39, 71, 0.885);
    transition: background 0.2s, color 0.2s, transform 0.2s;
}

.proyectos a:hover {
    background: #092142;
    color: #fff;
    transform: translateX(7px) scale(1.04);
}